.WordPage {
	padding: 5px;
	font-size: 20px;
}

.wordInfo {
	margin-left: 15px;
	margin-top: 25px;
}

.definitions {
	margin-top: 0;
	margin-left: 15px;
	padding-left: 0;
}

.definitions li {
	text-transform: capitalize;
}

.wordTitle {
	font-size: 25px;
	margin-bottom: 0;
	padding: 0;
}

.wordTitle h2 {
	display: inline-block;
	margin-bottom: 0;
}

.wordTitle p {
	display: inline-block;
	margin-bottom: 0;
}